.home-section {
  @import './terminal';

  .items {
    display: flex;
    padding: 20px;
  }

  .items .item {
    width: 60%;

    &:first-child {
      width: 40%;
      margin-right: 50px;
    }
  }

  .table-container {
    position: relative;
    width: 100%;
  }

  @import './mediaQuery';
}
