$snow: #ffffff;

$primary: #102a43;
$primary-darker: #243b53;
$primary-dark: #334e68;
$primary-light: #486581;
$primary-lighter: #627d98;

$secondary: #829ab1;
$secondary-darker: #9fb3cb;
$secondary-dark: #bcccdc;
$secondary-light: #d9e2ec;
$secondary-lighter: #f0f4f8;

$amethyst: #d83d80;
$aquamarine: #0080f6;
$aquamarine-light: #9dd0ff;
$aquamarine-dark: #004f98;

$crimson: #da5350;
